In [20]:
import pandas as pd
df = pd.read_csv('data.csv')

In [21]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [22]:
df.describe()

                id    tax
count  1000.000000  654.0
mean    500.500000   20.0
std     288.819436    0.0
min       1.000000   20.0
25%     250.750000   20.0
50%     500.500000   20.0
75%     750.250000   20.0
max    1000.000000   20.0

In [23]:
df['price_paid'].describe()

count      1000
unique      528
top       $3.73
freq          8
Name: price_paid, dtype: object

In [24]:
df.price_paid = df.price_paid.apply(lambda x: x.replace('$',''))
df.price_paid = df.price_paid.astype(float)

In [25]:
df.price_paid.mean()

6.461930000000001

In [26]:
df.price_paid.sum()

6461.93

In [27]:
 df.price_paid.min()

3.0

In [28]:
df.price_paid.max()

10.0

In [29]:
df.country.unique()

array(['Canada', 'United States', 'Morocco', 'France', nan], dtype=object)

In [30]:
df.price_paid.unique().tolist()

[5.36,
 8.32,
 3.73,
 3.7,
 9.24,
 5.82,
 6.29,
 3.01,
 9.05,
 5.71,
 3.15,
 5.3,
 5.97,
 4.53,
 4.1,
 6.44,
 3.16,
 4.9,
 5.55,
 4.86,
 6.72,
 9.79,
 8.23,
 9.9,
 5.88,
 3.06,
 9.52,
 6.76,
 7.81,
 6.02,
 5.0,
 5.34,
 4.67,
 6.22,
 3.37,
 9.5,
 4.54,
 4.04,
 3.45,
 4.96,
 5.29,
 8.11,
 7.8,
 4.21,
 9.81,
 9.7,
 9.71,
 3.88,
 3.4,
 9.23,
 6.57,
 9.99,
 6.94,
 4.26,
 9.13,
 6.66,
 9.35,
 3.04,
 6.17,
 7.68,
 4.23,
 4.69,
 7.56,
 5.92,
 4.65,
 6.79,
 8.71,
 8.96,
 4.39,
 7.54,
 5.83,
 6.39,
 9.6,
 9.68,
 9.86,
 5.53,
 3.51,
 8.43,
 6.89,
 6.68,
 4.66,
 4.95,
 6.77,
 7.48,
 7.23,
 8.12,
 5.8,
 6.06,
 4.71,
 7.78,
 9.67,
 9.93,
 4.56,
 4.42,
 4.12,
 4.32,
 8.83,
 3.18,
 8.86,
 7.2,
 3.72,
 7.67,
 8.68,
 9.58,
 7.91,
 7.65,
 8.77,
 7.17,
 9.47,
 8.97,
 6.07,
 9.89,
 8.85,
 9.37,
 7.03,
 5.9,
 4.0,
 6.88,
 8.75,
 3.03,
 6.64,
 8.65,
 5.98,
 8.69,
 4.46,
 4.24,
 8.79,
 4.82,
 8.16,
 7.19,
 5.87,
 7.05,
 3.93,
 5.33,
 6.09,
 5.72,
 3.12,
 8.45,
 6.86,
 4.74,
 7.98,
 8.7,
 4.57,
 4.38,
 6.8,
 6.53,
 7.27,
 7.75,
 3.95,
 10.0,
 6.96,
 6.58,
 5.56,
 6.31,
 5.49,
 6.71,
 6.93,
 4.92,
 9.02,
 5.91,
 9.27,
 4.97,
 7.02,
 3.1,
 4.25,
 6.16,
 4.47,
 6.73,
 9.32,
 7.41,
 9.51,
 8.88,
 5.47,
 4.2,
 9.38,
 7.44,
 9.1,
 6.24,
 4.43,
 3.21,
 8.82,
 5.68,
 6.14,
 7.32,
 8.62,
 5.75,
 3.96,
 8.21,
 3.52,
 8.22,
 9.45,
 7.82,
 3.05,
 4.61,
 7.83,
 7.88,
 4.48,
 4.4,
 8.37,
 6.21,
 9.16,
 3.34,
 8.24,
 3.23,
 9.3,
 7.62,
 8.74,
 8.63,
 3.78,
 8.15,
 3.87,
 9.33,
 8.02,
 8.61,
 3.17,
 9.83,
 4.44,
 3.29,
 6.11,
 4.93,
 6.05,
 5.63,
 9.98,
 5.84,
 8.19,
 3.81,
 5.86,
 8.84,
 3.33,
 8.89,
 8.34,
 6.47,
 8.66,
 9.57,
 3.48,
 7.71,
 8.27,
 3.63,
 8.28,
 7.04,
 3.84,
 5.21,
 8.33,
 9.12,
 3.09,
 9.19,
 8.25,
 9.92,
 3.79,
 8.31,
 9.43,
 7.72,
 3.44,
 4.18,
 7.12,
 7.13,
 4.84,
 7.3,
 7.89,
 9.04,
 4.03,
 4.98,
 6.7,
 4.34,
 6.32,
 5.06,
 9.31,
 4.3,
 3.56,
 8.41,
 6.49,
 7.18,
 6.75,
 4.72,
 3.68,
 3.6,
 9.85,
 9.88,
 6.46,
 7.93,
 3.53,
 7.79,
 4.16,
 5.54,
 5.35,
 4.91,
 6.5,
 6.84,
 8.17,
 3.27,
 5.27,
 5.62,
 3.66,
 9.4,
 5.66,
 9.96,
 4.76,
 6.34,
 8.64,
 5.65,
 5.08,
 5.5,
 6.6,
 5.45,
 8.95,
 3.08,
 9.97,
 7.38,
 6.98,
 6.37,
 4.31,
 5.16,
 7.9,
 9.2,
 8.01,
 7.31,
 7.66,
 8.46,
 3.14,
 6.35,
 3.2,
 8.08,
 7.28,
 5.57,
 3.49,
 9.18,
 7.22,
 9.06,
 6.55,
 5.79,
 3.25,
 7.99,
 8.18,
 5.15,
 6.23,
 9.36,
 5.05,
 3.57,
 9.21,
 7.52,
 3.28,
 8.54,
 3.8,
 4.51,
 9.75,
 7.14,
 8.4,
 7.08,
 8.49,
 3.02,
 6.27,
 7.36,
 4.01,
 6.91,
 8.38,
 4.78,
 8.94,
 8.35,
 7.96,
 7.85,
 8.1,
 6.52,
 6.2,
 4.83,
 9.08,
 5.32,
 7.16,
 3.38,
 5.61,
 8.8,
 4.22,
 9.82,
 9.29,
 5.48,
 5.24,
 7.5,
 7.95,
 3.98,
 3.74,
 4.87,
 3.86,
 4.17,
 3.36,
 5.6,
 6.51,
 4.55,
 4.36,
 7.45,
 8.55,
 3.77,
 3.46,
 8.92,
 6.4,
 3.92,
 5.1,
 9.42,
 9.09,
 5.81,
 6.43,
 6.48,
 6.12,
 6.18,
 3.31,
 8.6,
 6.85,
 4.02,
 3.35,
 8.42,
 5.89,
 9.72,
 3.61,
 7.39,
 9.84,
 3.22,
 4.35,
 4.62,
 4.49,
 4.5,
 8.72,
 6.63,
 4.7,
 6.59,
 3.75,
 5.2,
 3.59,
 7.09,
 5.78,
 5.26,
 6.62,
 4.88,
 5.4,
 3.94,
 6.99,
 3.91,
 3.54,
 9.53,
 9.65,
 3.89,
 9.77,
 5.25,
 3.58,
 9.62,
 3.69,
 4.85,
 3.55,
 5.09,
 4.13,
 3.0,
 3.41,
 5.69,
 4.79,
 9.95,
 5.76,
 6.87,
 8.44,
 6.19,
 7.76,
 9.63,
 7.43,
 4.68,
 5.73,
 5.42,
 7.25,
 9.11,
 5.44,
 5.7,
 9.8,
 5.03,
 6.81,
 5.18,
 7.34,
 4.05,
 4.27,
 5.37,
 8.9,
 7.51,
 8.48,
 3.9,
 9.26,
 3.11,
 5.19,
 5.51,
 8.99,
 4.07,
 9.01,
 8.53,
 6.67,
 6.56,
 6.92,
 9.15,
 5.67,
 5.96,
 8.09,
 5.11,
 7.4,
 7.33,
 5.43,
 6.3,
 5.28,
 5.02,
 5.93,
 9.78,
 9.28,
 3.5,
 9.22,
 6.15,
 9.69,
 7.97,
 5.94,
 9.76,
 3.83,
 4.73,
 6.95,
 3.32,
 9.03,
 4.64,
 7.59,
 3.3,
 7.37,
 6.13,
 7.7,
 3.07,
 6.69,
 3.71,
 9.55,
 4.33,
 6.1,
 4.59]

In [31]:
df.country.value_counts(normalize=True)

country
France           0.426778
United States    0.348326
Canada           0.168410
Morocco          0.056485
Name: proportion, dtype: float64

In [34]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,8.01,20.0

In [35]:
df = df.drop('first_name', axis=1)
df = df.drop('last_name', axis=1)
df = df.drop('email', axis=1)
df = df.drop('ip_address', axis=1)
df = df.drop('date', axis=1)
df = df.drop('gender', axis=1)

In [36]:
df

       id  gender        country  price_paid   tax
0       1    Male         Canada        5.36   NaN
1       2  Female         Canada        8.32   NaN
2       3    Male  United States        3.73  20.0
3       4  Female  United States        3.70  20.0
4       5    Male        Morocco        9.24  20.0
..    ...     ...            ...         ...   ...
995   996  Female         France        3.63   NaN
996   997  Female            NaN        4.59  20.0
997   998    Male  United States        7.54  20.0
998   999    Male  United States        5.81   NaN
999  1000     NaN         Canada        8.01  20.0

[1000 rows x 5 columns]

In [39]:
df = df.drop('gender', axis=1)
df.groupby('country').mean()

                       id  price_paid   tax
country
Canada         437.049689    6.319565  20.0
France         525.588235    6.420613  20.0
Morocco        492.425926    6.721667  20.0
United States  504.954955    6.557568  20.0

In [41]:
df.groupby(['country','price_paid']).mean()

                                  id   tax
country       price_paid
Canada        3.03        211.333333  20.0
              3.06        155.000000  20.0
              3.12        154.000000  20.0
              3.20        475.000000   NaN
              3.23        493.666667  20.0
...                              ...   ...
United States 9.90         26.000000   NaN
              9.92        321.000000   NaN
              9.95        732.000000  20.0
              9.97        832.000000  20.0
              9.98        602.500000   NaN

[766 rows x 2 columns]